body {
    height: 100%;
    width: 100%;
    background-color: #392f41;
    margin: 0;
}

#container {
    margin: 3vh 20vw;
    height: 80vh;
    width: 60vw;
}

#chatMain {

    height: 65vh;
    width: 60vw;
    background-color: #fffbf0;
    border-radius: 10px;
}


#chatInfo {
    height: 75vh;
    width: 50vw;
    margin-left: 5vw;
    background-color: #fffbf0;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chatOper {
    height: 12vh;
    width: 50vw;
    margin-left: 5vw;
    background-color: #bacac6;
    border-radius: 10px;

}

#chatText {
    padding: 2vh 14vw;
    margin: 3vh 1vw;
    background-color: #f3f9f1;
    border-radius: 5px;
}

#submitBtn {
    padding: 2vh 2vw;
    background-color: #ffffff;
    border-radius: 5px;
}
