<!DOCTYPE html>
<html>
<head>
    <title>chatGPT API Stream Demo</title>
    <link rel="stylesheet" href="../static/gpt.css">
</head>

<body>
<div class="main">
    <div id="chatInfo" class="chatInfo"></div>
    <div class="chatOper">
        <input type="text" id="chatText" placeholder="Input your question.."/>
        <input type="button" value="Submit" id="submitBtn" onclick="submit()"/>
    </div>


</div>
</body>
<script src="../static/script.js" type="application/javascript"></script>
<script src="../static/message.js" type="application/javascript"></script>

</html>