<!DOCTYPE html>
<html>
<head>
    <title>chatGPT API Stream Demo</title>
    <link rel="stylesheet" href="../static/gpt.css">
</head>

<body>
<div id="container" class="main">
    <div id="chatInfo"></div>
    <div id="chatOper">
        <input id="chatText" type="text" placeholder="Input your question.."/>
        <input id="submitBtn" type="button" value="Input" onclick="submit()" disabled/>
    </div>
</div>
</body>
<script src="../static/script.js" type="application/javascript"></script>

</html>